@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Nunito:ital,wght@0,200;0,300;0,400;0,700;0,800;1,200;1,300;1,400;1,700;1,800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Nunito:ital,wght@0,200;0,300;0,400;0,700;0,800;1,200;1,300;1,400;1,700;1,800&family=Righteous&display=swap');

#root {
  --tobacco-brown-50: #f5f4f1;
  --tobacco-brown-100: #e7e4da;
  --tobacco-brown-200: #d0c9b8;
  --tobacco-brown-300: #b5a98f;
  --tobacco-brown-400: #9f8e70;
  --tobacco-brown-500: #907d62;
  --tobacco-brown-600: #7c6853;
  --tobacco-brown-700: #645244;
  --tobacco-brown-800: #56463d;
  --tobacco-brown-900: #4b3e38;
  --tobacco-brown-950: #2a211e;
  --white-main: #fbfcfc;
  --black-main: #212f3d;
  --red-main: #c0392b;
  --green-main: #2ecc71 ;
  --blue-main: #3498db;
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
}


.main-black {
  min-width: 100%;
  min-height: 100vh;
  color: var(--white-main);
  background: #9f8e71;
  background: linear-gradient(315deg, #9f8e71, #4b3f38);
}
.main-white {
  background: var(--white-main);
  color: var(--black-main);
}

main .logo {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
}
main .levelup {
  position: fixed;
  z-index: 10;
  right: 0;
  bottom: 0;
}
.home,
.about,
.project,
.games,
.contact {
  min-width: 100%;
  min-height: 100vh;
  position: relative;
}

header {
  position: fixed;
  z-index: 1000;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  filter: drop-shadow(0 15px 35px rgba(0, 0, 0, 0.5));
}

header nav {
  display: flex;
  width: 350px;
}

header nav a {
  position: relative;
  list-style: none;
  width: 70px;
  height: 60px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-weight: 500;
}

header nav a .icon {
  position: relative;
  display: block;
  line-height: 65px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: var(--tobacco-brown-600);
}
header nav a.active .icon {
  transform: translateY(-32px);
  color: var(--red-main);
}

header nav a .text {
  position: absolute;
  color: var(--white-main);
  padding: 2px 7px;
  border-radius: 12px;
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  transform: translateY(15px);
  opacity: 0;
}

header nav a.active .text {
  transform: translateY(-4px);
  background: var(--tobacco-brown-300);
  opacity: 1;
}

header nav .indicador {
  position: absolute;
  top: -35px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: var(--white-main);
  transition: 0.5s;
  z-index: 1;
}

header nav .indicador::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -28px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 15px 18px #fff;
}
header nav .indicador::after {
  content: "";
  position: absolute;
  top: 5px;
  right: -28px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  box-shadow: -15px 18px #fff;
}


header nav a:nth-child(1).active ~ .indicador {
  transform: translateX(calc(70px * 0));
}
header nav a:nth-child(2).active ~ .indicador {
  transform: translateX(calc(70px * 1));
}
header nav a:nth-child(3).active ~ .indicador {
  transform: translateX(calc(70px * 2));
}
header nav a:nth-child(4).active ~ .indicador {
  transform: translateX(calc(70px * 3));
}
header nav a:nth-child(5).active ~ .indicador {
  transform: translateX(calc(70px * 4));
}
