.contentAlert {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 40%;
  height: 3rem;
  border: 3px solid var(--tobacco-brown-400);
  border-radius: 10px;
  margin-top: 1rem;
  margin-left: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  transform: translateY(-100px);
  opacity: 0;
  transition: .5s;
}
.contentAlert.success {
  color: #239b56;
  background: #abebc6;
}
.contentAlert.error {
  color: #cb4335;
  background: #f5b7b1;
}
.contentAlert.text {
  color: var(--black-main) ;
  background: #f9e79f;
}
.contentAlert.active{
  opacity: 1;
  transform: translateY(0);
  z-index: 15000;
}
