.contentCardgame {
  width: 80%;
  background: var(--white-main);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem; 
  gap: 1rem;
  border-radius: 10px;
  border: 2px solid var(--tobacco-brown-300);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 2s ease-in-out, transform 1s ease-in-out;
}
.contentCardgame:nth-child(2){
  transform: translateY(30px);
  transition: opacity 3s ease-in-out, transform 2s ease-in-out;
}
.contentCardgame:nth-child(3){
  transform: translateY(40px);
  transition: opacity 4s ease-in-out, transform 3s ease-in-out;
}
.contentCardgame.active{
  opacity: 1;
  transform: translateY(0);
}
.contentCardgame:hover{
    transform: scale(1.1);
}


.contentCardgame .cardGameinfo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.ImgCardgame {
  width: 3rem;
  height: 3rem;
  border: 1px solid var(--black-main);
  border-radius: 5px;
}
.contentCardgame .descriptionGame {
  color: var(--black-main);
}
.descriptionGame .pGame {
  color: var(--tobacco-brown-300);
}
.contentCardgame .btnCardgame {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.btnModalLink {
  width: 4rem;
  height: 2.5rem;
  text-decoration: none;
  background: var(--tobacco-brown-300);
  color: var(--red-main);
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: 0.5s;
  border: 2px solid var(--tobacco-brown-600);
}

.btnModalLink .iconLink {
  font-size: 1.5rem;
  font-weight: 600;
  border: 2px solid var(--red-main);
  padding: 2px;
  border-radius: 50%;
}
.btnModalLink:hover {
  color: var(--white-main);
  background: var(--black-main);
}
@media (min-width: 300px) {
  .contentCardgame {
    width: 90%;
    flex-direction: column;
  }
}