.contentContact{
    display: grid;
    width: 100%;
    height:100%;
    grid-template-areas:
      "formContact infoContact"
      "formContact  infoContact";
    grid-template-rows:1fr ;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.formContact{
    grid-area: formContact;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}
.infoContact{
    grid-area: infoContact;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    min-height: 100vh;
}
@media (max-width:900px){
    .contentContact{
        grid-template-areas:
          "formContact formContact"
          "infoContact infoContact"
        }
       
        .infoContact{
            min-height: 10vh;
            padding-bottom: 4rem;
        }

}