@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Nunito:ital,wght@0,200;0,300;0,400;0,700;0,800;1,200;1,300;1,400;1,700;1,800&display=swap");

#portal {
  --tobacco-brown-50: #f5f4f1;
  --tobacco-brown-100: #e7e4da;
  --tobacco-brown-200: #d0c9b8;
  --tobacco-brown-300: #b5a98f;
  --tobacco-brown-400: #9f8e70;
  --tobacco-brown-500: #907d62;
  --tobacco-brown-600: #7c6853;
  --tobacco-brown-700: #645244;
  --tobacco-brown-800: #56463d;
  --tobacco-brown-900: #4b3e38;
  --tobacco-brown-950: #2a211e;
  --white-main: #fbfcfc;
  --black-main: #212f3d;
  --red-main: #c0392b;
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
}

.modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.modal-overlay .modal {
  width: 40%;
  height: 90%;
  background: var(--white-main);
  padding: 1rem;
  border-radius: 10px;
  border: 2px solid var(--tobacco-brown-400);
  filter: drop-shadow(0 15px 35px rgba(0, 0, 0, 0.5));
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-around;
}
.close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
}
.close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: var(--red-main);
  background: var(--black-main);
  border: 2px solid var(--red-main);
  border-radius: 5px;
  cursor: pointer;
}

.titleModal {
  color: var(--tobacco-brown-400);
  border-bottom: 2px solid var(--tobacco-brown-200);
  padding: 5px;
}
.pModal {
  letter-spacing: 2px;
  line-height: 1.2;
  text-align: justify;
  padding: 5px 0;
}
.imgContentModal{
 width: 100%;
  height: 15rem;
  padding: 1rem;
  overflow: hidden;
}
.imgModal {
 width: 100%;
 border: 2px solid var(--tobacco-brown-400);
 border-radius: 5px;
}
.language {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.languageModal {
  color: var(--tobacco-brown-400);
  padding: 0 1rem;
  border-right: 1px solid var(--tobacco-brown-400);
  border-left: 1px solid var(--tobacco-brown-400);
}
.h3Modal {
  color: var(--tobacco-brown-400);
  margin-bottom: 5px;
}
.btnModal {
  width: 100%;
  height: 5rem;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btnModal .btnModalLink{
   width: 7rem;
    height: 2.5rem;
    background: var(--tobacco-brown-300);
    color: var(--red-main);
    font-size: .8rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    transition: .5s;
    border: 2px solid var(--tobacco-brown-600);
}

.btnModalLink .iconLink{
    font-size: 1.5rem;
    font-weight: 600;
    border: 2px solid var(--red-main);
    padding: 2px;
    border-radius: 50%;
}
.btnModalLink:hover{
    color: var(--white-main);
    background: var(--black-main);
}

@media (max-width:900px){
 
  .modal-overlay .modal {
  width: 90%;
  height: 90%;
 
}
}
